input{
    border: solid 1px #CCCCCC;
    padding:5px ;
    margin-bottom: 5px;
}

.table{
    border-collapse: collapse;
}

.table th{
    background-color: black;
    color: aliceblue;
}

.table th,
.table td{
    padding: 8px;
}

.table td{
    border-bottom: solid #CCCCCC;
}

